@font-face {
  font-family: 'WGA';
  src: url("../Assets/Fonts/WFA.otf") format("otf"),
    url("../Assets/Fonts/WGA.woff") format("woff");
}

@font-face {
  font-family: 'Endbuster';
  src: url("../Assets/Fonts/Endbuster.ttf") format("ttf"),
    url("../Assets/Fonts/Endbuster.woff") format("woff");
}

@font-face {
  font-family: 'BOTW';
  src: url("../Assets/Fonts/BOTW.otf") format("otf"),
    url("../Assets/Fonts/BOTW.woff") format("woff");
}

@font-face {
  font-family: 'Kittens';
  src: url("../Assets/Fonts/Kittens.woff2") format("woff2"),
    url("../Assets/Fonts/Kittens.woff") format("woff");
}

#h1_wrapper img{
  animation-name: heartbeat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.header_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trait{
  height: 0;
  border: 2px solid black;
  width: -moz-available;
  width:-webkit-fill-available;
}

h3{
  margin-left: 50px;
  margin-right: 50px;
  min-width: fit-content;
  min-width: -moz-fit-content;
}

h3 img{
    height: 1.5em;
    position: relative;
    top: 0.5em;
    margin-right: 20px;
}

#code h3{
  font-size: 3em;
}

#chat h3{
  font-family: 'Kittens';
  font-size: 3em;
}

#jeuxVideos h3{
  font-family: 'BOTW';
  font-size: 3.5em;
}

#jeuxDeRoles h3{
  font-family: 'Endbuster';
  font-size: 2.5em;
}

#piano h3{
  font-family: 'WGA';
  font-size: 3em;
}

#contenant_ecran{
  height: 800px;
  background-image: url("../Assets/computer_screen.png");
  background-repeat: no-repeat;
  background-size: auto 700px;
  background-position: top;
  display: flex;
}

#code .banniere{
  width: 786px;
  height: 493px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 29px;
  left: -2px;
  background-image: url("../Assets/coding.jpg");
  background-size: cover;
  display: flex;
}

#code .banniere p{
  color: black;
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  padding: 2% 3% 2% 3%;
  background-color: rgba(255, 255, 255, 0.8);
}

section:not(#code) .banniere{
  height: 500px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 40px;
  display: flex;
}

section:not(#code) .banniere p{
  color: white;
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  padding: 2% 3% 2% 3%;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  border-radius: 0 0 40px 40px;
  top: 2px;
}

#chat .banniere{
  background-image: url("../Assets/carbone.jpeg");
  background-size: cover;
  background-position: center;
}

#piano .banniere{
  background-image: url("../Assets/piano.jpeg");
  background-size: cover;
  background-position: center;
}

#jeuxVideos .banniere{
  background-image: url("../Assets/jeu_video.png");
  background-size: cover;
  background-position: center;
}

#jeuxDeRoles .banniere{
  background-image: url("../Assets/board_game.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes heartbeat {
  25%{
    transform: scale(1);
  }
  30%{
    transform: scale(1.2);
  }
  35%{
    transform: scale(0.9);
  }
  40%{
    transform: scale(1.2);
  }
  45%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}
