@media all and (min-width: 1300px) {
  #title_hider{
    height: 120px;
    width: 800px;
    position: absolute;
    top: 50px;
    left: -50px;
    background-color: #219EBC;
    animation: title_hider_fading 2.8s 1 ease-in forwards;
  }

  #cat_wrapper{
    width: 120px;
    height: 120px;
    position: absolute;
    left: -100px;
    top: 50px;
    transform-origin: 50% 50%;
    animation-name: chat_roule;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  .cat{
    width: 116px;
    height: 116px;
    border-radius: 60px;
    border: solid 2px black;
    background-color: lightgrey;
  }

  .ear, .in_ear{
    width: 0;
    height: 0;
    border-left: solid 25px transparent;
    border-right: solid 30px transparent;
    position: absolute;
  }

  .ear{
    border-bottom: solid 55px black;
    z-index: -2;
  }

  .left_ear{
    top: -23px;
    left: -15px;
    transform: rotate(-30deg);
  }

  .right_ear{
    top: -22px;
    left: 82px;
    transform: rotate(35deg);
  }

  .in_ear{
    border-bottom: solid 55px #999;
    z-index: -1;
  }

  .left_in_ear, .right_in_ear{
    top: 4px;
    left: -25px;
  }

  .eye{
    width: 17px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 55px;
  }

  .left_eye{
    left: 30px;
  }

  .right_eye{
    left: 73px;
  }

  .ward{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgrey;
    position: absolute;
    top: 2px;
    left: -2px;
  }

  .nose{
    width: 8px;
    height: 3px;
    border-radius: 50%;
    border: solid 3px black;
    position: absolute;
    top: 87px;
    left: 53px;
    z-index: 3;
  }

  .hide{
    width: 28px;
    height: 8px;
    background-color: lightgrey;
    position: absolute;
    top: 90px;
    left: 46px;
    z-index: 2;
  }

  .mouth{
    position: absolute;
    top: 90px;
    left: 46px;
  }

  .circle{
    width: 10px;
    height: 12px;
    border-radius: 50%;
    border: solid 2px black;
    position: absolute;
  }

  .circle1{
    left: 1px;
  }

  .circle2{
    left: 13px;
  }

  @keyframes chat_roule {
    60% {
      transform: translate(calc(100vw - 45px), 0) rotate(720deg);
      animation-timing-function: ease-out;
    }
    90% {
      transform: translate(calc(100vw - calc(0.3 * 100vw)), 0) rotate(330deg);
    }
    100%{
      transform: translate(calc(100vw - calc(0.28 * 100vw)), 0) rotate(360deg);
    }
  }

  @keyframes title_hider_fading {
    100% {
      transform: translate(calc(((100vw)*2)/3), 0);
      width: 400px;
    }
  }
}
