@font-face {
  font-family: 'Questa';
  src: url("../Assets/Fonts/2-Questa_Regular-webfont.woff2") format("woff2"),
    url("../Assets/Fonts/2-Questa_Regular-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Indiana';
  src: url("../Assets/Fonts/Indiana.otf") format("otf"),
  url("../Assets/Fonts/Indiana.woff") format("woff");
  font-style: normal;
}

body{
  margin: 0;
  font-family: 'Questa';
  min-width: 1100px;
}

h2{
  font-family: arial;
}

a{
  text-decoration: none;
  color: inherit;
}

#h1_wrapper{
  height: 170px;
  display: flex;
}

#h1_wrapper h1{
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 100px;
  font-size: 4em;
  font-family: 'Indiana';
}

#h1_wrapper img{
  margin-top: auto;
  margin-bottom: 1em;
  margin-left: 2em;
  height: 6em;
}

header{
  background-color: #ececec;
  padding-bottom: 0;
  border-bottom: 1px solid #444444;
}

header nav{
  border-top: 1px solid black;
  margin: 2em 0 0 0;
  background-color: #bbb;
}

header nav h1{
  font-size: 2em;
}

#navigation{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

#navigation td:not(.on){
  border-right: 1px solid black;
  border-left: 1px solid black;
  box-shadow: inset 0px 5px 5px #999;
}

#navigation td div{
  padding: 1px 60px 1px 60px;
}

#navigation td:hover{
  background-color: #aaa;
  box-shadow: inset 0px 5px 10px #666;
}

.on{
  background-color: #aaa;
  box-shadow: inset 0px 5px 10px #666;
}

header li{
  padding-left: 5em;
  padding-right: 5em;
  border: 1px solid black;
  border-radius: 10px;
}

.main_article{
  width: 90vw;
  margin: auto;
  padding: 10px 40px 40px 40px;;
}

h3{
    font-size: 1.5em;
    font-family: arial;
}

h4{
  font-size: 1.2em;
}

.main_article li, .main_article p{
  font-size: 1.1em;
}

.flex_row{
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.flex_row section{
  flex: 2;
  min-width: 500px;
}

.about{
  flex: 1.2;
  height: 100%;
  margin-left: 50px;
  padding: 1.5em;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: #8094b2;
}

.about ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about li{
  margin-bottom: 10px;
  font-size: 1.2em;
}

.about img{
  display: block;
  height: 11em;
  width: 11em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

footer{
  color: white;
  height: 200px;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #444444;
  background-color: #2c405e;
}

footer div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer ul{
  height: 100px;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  font-weight: bold;
  list-style: none;
  padding: 0;
}

footer a{
  display: flex;
  align-items: center;
}

footer a:hover{
  color: darksalmon;
}

footer img{
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

#social_links li{
  margin-bottom: 10px;
}
